/* Breakpoint <=768px */
@media screen and (max-width: 768px) {
   header {
      align-items: inherit;
   }
   .container.hero-section {
      flex-direction: column;
   }
   .right {
      width: 100%;
   }
}
