@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
body {
   font-family: "Space Mono", monospace;
}
.container {
   width: 65%;
   margin: auto;
}

/* Header */
header {
   display: flex;
   height: 15vh;
   flex-direction: column;
   justify-content: center;
}

/* Hero section */
.hero-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 500px;
}
.right {
   width: 45%;
}
.right button {
   background: #333;
   color: #fff;
   padding: 15px;
}
.home-btn {
   background: #333;
   color: #fff;
   text-decoration: none;
   padding: 12px;
   margin-top: 1rem;
   display: inline-block;
}

/* Footer */
footer {
   height: 150px;
   align-items: end;
   display: flex;
}
