@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
body {
   font-family: "Space Mono", monospace;
}
.container {
   width: 65%;
   margin: auto;
}
.hero-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 60vh;
}
.right {
   width: 45%;
}
.right button {
   background: #333;
   color: #fff;
   padding: 15px;
}
header {
   display: flex;
   height: 15vh;
   align-items: center;
   flex-direction: column;
   justify-content: center;
}
.home-btn {
   background: #333;
   color: #fff;
   text-decoration: none;
   padding: 12px;
   margin-top: 1rem;
   display: inline-block;
}
