@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@400;700&display=swap");
body {
   font-family: "Space Mono", monospace;
}
.container {
   width: 80%;
   margin: auto;
}
img {
   width: 100%;
}
h1 {
   font-size: 50px;
}

/* Header */
header {
   display: flex;
   flex-direction: column;
   justify-content: center;
}
header p {
   font-size: 20px;
}

/* Hero section */
.hero-section {
   display: flex;
   justify-content: space-between;
   align-items: center;
   height: 90vh;
}
.right button {
   background: #333;
   color: #fff;
   padding: 15px;
}
.home-btn {
   background: #333;
   color: #fff;
   text-decoration: none;
   padding: 12px;
   margin-top: 1rem;
   display: inline-block;
}

/* Footer */
footer {
   align-items: end;
   display: flex;
}
